footer {
    color: white;
    font-family: "Roboto", sans-serif;
  }
  
  .footer-main-aj {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: #232323;
  }
  .footer-main-aj a {
    text-decoration: none;
    color: #a2a0a0;
  }
  .footer-bottom-2-aj {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    margin: auto;
    font-weight: 100;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.65);
    border-top: 1px rgb(76, 74, 74) solid;
    color: #a5a7a0;
    font-size: 13px;
  }
  .footer-bottom-1-aj {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px rgb(76, 74, 74) solid;
    padding: 10px 0;
  }
  .footer-bottom-1-aj .footer-right-signup {
    display: flex;
  
    align-items: center;
    gap: 30px;
  }
  .signup-buttons-place {
    display: flex;
    align-items: center;
  }
  .enter-signup-text {
    height: 50px;
    width: 300px;
    border: none;
    color: #999999;
    box-sizing: border-box;
    padding-left: 10%;
    font-size: 18px;
  }
  
  ::placeholder {
    font-size: 16px;
  }
  
  .enter-signup-button {
    background-color: #dd0285;
    font-size: 1rem;
    color: whitesmoke;
    font-weight: 700;
    width: 100px;
    border: none;
    height: 50px;
  }
  .footer-right-signup div:first-child {
    font-weight: 700;
    font-size: 18px;
  }
  .footer-top {
    margin: auto;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .footer-main-aj li {
    list-style: circle;
    list-style-position: inside;
    margin-bottom: 10px;
  }
  
  .footer-main-aj li:hover,
  .footer-main-aj a:hover,
  .categories span:hover {
    color: #dd0285;
  }
  .socials-wrap .links-contact {
    display: flex;
  
    gap: 5%;
  }
  
  .li-social a {
    display: block;
    background-color: #dd0285;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .links-contact li {
    list-style: none;
  }
  
  .links li a span,
  .phone,
  .time {
    font-size: medium;
    color: #999999;
  }
  .footer-block-title {
    display: inline-block;
    padding-bottom: 10px;
    margin: 10px 10px 10px 48px;
    border-bottom: 2px dashed #dd0285;
  }
  .footer-main-aj h3 {
    font-size: medium;
  }
  .divide {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 10vh;
  }
  .fa {
    color: white;
  }
  .phone:hover,
  .time:hover {
    color: #999999 !important;
  }
  .phone,
  .time {
    margin: 10px 0 !important;
  }
  .footer-block-title {
    font-size: 22px;
  }
  .footer-block-title h3{
    margin: 5px;
  }
  
  .links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }