* {
    font-family: "Roboto", sans-serif;
  }
  body{
    padding: 0px;
    margin: 0px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  
  .control {
    margin: 10px 0px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    color: #b3b3b3;
  }
  
  #cat {
    padding: 10px 100px 10px 5px;
    border: transparent;
    color: #b3b3b3;
  }
  
  #search {
    padding: 10px 100px 10px 5px;
    border: transparent;
    color: #b3b3b3;
  }
  
  .fa-magnifying-glass {
    color: white;
  }
  
  .search-btn {
    padding: 11px 16px;
    background-color: #dd0285;
    border-color: transparent;
    border-radius: 0 2px 2px 0;
  }
  
  ::placeholder {
    color: #b3b3b3;
    opacity: 1;
  }
  
  
  .header-links{
    display: flex;
  }
  
  .wishlist-div {
    margin-right: 10px;
  }
  .wishlist {
    padding: 8px;
    border: 1px solid black;
  }
  .fa-heart {
    font-size: 18px;
    color: black;
  }
  
  .user {
    padding: 8px;
    background-color: white;
    border: 1px solid #d9d9d9;
  }
  .fa-user {
    font-size: 18px;
    color: black;
  }
  
  .btn {
    background-color: white;
    color: black;
  }
  
  .btn:hover{
    background-color: #dd0285;
    color: white;
  }
  .loginRegisterDropdown {
    list-style: none;
    background-color: white;
    width: 5%;
    text-align: left;
    padding: 10px 40px 10px 10px;
    display: none;
    position:absolute;
    margin: 3rem 0 0 3rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  
  .loginRegisterDropdown li{
      margin: 7px;
  }
  
  .loginRegisterDropdown li a{
      text-decoration: none;
      color: black;
  }
  
  .loginRegisterDropdown li a:hover{
      color: #dd0285;
  }
  
  .nav-menu ul li a{
    text-decoration: none;
    color: black;
  }
  
  .nav-menu ul li{
    list-style: none;
  }
  
  .nav-bar{
    width: 100%;
    height: 51px;
    background: #dd0285;
  }
  
  .nav-menu{
    width: 84%;
    margin: auto;
  }
  
  
  .nav-links{
    float: left;
    position: relative;
  }
  
  .nav-menu ul li a{
    display: block;
    padding: 16px 26px;
    color: white;
    font-weight: bold;
  
  }
  
  .nav-menu ul li div{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    width: max-content;
  
  }
  
  .nav-menu ul li:hover div{
    display: flex;
  }
  
  .nav-menu ul li div ul{
  padding-left: 10px;
  width: max-content;
  }
  
  .nav-menu ul li div ul li p{
    font-size: 13px;
    padding: 0px 6px;
    margin: 5px 0px;
  }
  .nav-menu ul li div ul li:first-child p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .nav-menu ul li div img{
    width: 50%;
    height: 70%;
    background-size: cover; 
    margin-left: 10px;
  }
  .nav-cart{
    padding-top: 15px;
    width: 90%;
  }
  .nav-cart a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    color: white;
  }
  .fa-bag-shopping{
    padding-right: 20px;
  }